<%= div_for comment do %>
        <p>
            <strong>
            Posted <%= time_ago_in_words(comment.created_at) %>
            </strong> <br />
            <%= h(comment.body) %>
        </p>
<%end%>